{% extends 'base.html.twig' %}

{% block javascripts %}
<script src="{{ asset('js/liste1.js') }}"></script>
{% endblock %}

{% block body %}
<input type="button" name="ajout" value="Ajouter" onclick="ajouter()">
<ul>
{% for task in tasks %}
<li>{{task.id}} {{task.name}}</li>
{% endfor %}
</ul>
<!-- {{dump(tasks)}}>
{% endblock %}
